@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  overflow: hidden;
  font-family: 'Nova Round', cursive;
}
.wrapper{
  /* border: 1px solid #000; */
  width: 470px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  overflow: visible;
  gap: 20px;
  /* gap: 50px; */
}
.playing-field{
  /* display: flex; */
  display: block;
  position: relative;
  width: 100%;
  height: 470px;
}
#buttons{
  width: 100%;
  height: 100%;
  background-color: white;
  position: relative;
  z-index: 1;
  display: grid !important;
  grid-template-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-rows: 1fr 10px 1fr 10px 1fr;
}
.playing-field-line, .playing-field-dot{
  width: 100%;
  height: 100%;
  background-color: rgb(28, 49, 80);
}
.top-line{
  border-radius: 100px 100px 0 0;
}
.left-line{
  border-radius: 100px 0 0 100px;
}
.right-line{
  border-radius: 0 100px 100px 0;
}
.lower-line{
  border-radius: 0 0 100px 100px;
}
#buttons button{
  /* pointer-events: none; */
  background-color: white;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 15%;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}
.score-bar{
  padding: 0 1%;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.player-info{
  height: 100%;
  width: min-content;
  /* border: 1px solid #000; */
}
#btn-restart{
  font-family: 'Nova Round', cursive;
  font-size: 100%;
  text-transform: uppercase;
  width: max-content;
  background-color: white;

  /* margin-right: 5%; */
  border: 3px solid rgb(28, 49, 80) ;
  padding: 5%;
  border-radius: 10px;
}
#player-avatar-xmark{
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgb(28, 49, 80);
  border-radius: 50%;
}
#player-avatar-circle{
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgb(28, 49, 80);
  border-radius: 50%;
}
#player-avatar-xmark img{
  width: 60%;
  /* animation: pulse-avatar 1s infinite; */
}
#player-avatar-circle img{
  width: 60%;
  /* animation: pulse-avatar 1s infinite; */
}
@keyframes pulse-avatar {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.15);
  }
  100%{    
    transform: scale(1);
  }
  
}
.player-info{
  display: flex;
  align-items: center;
  gap:10px;
  font-size: 130%;
  letter-spacing: -1px;
  color: rgb(28, 49, 80);
}
.player-info:last-child{
  justify-content: end;
}
.score{
  color: rgb(28, 49, 80);
  display: flex;
  font-size: 180%;
}
#demonstrationVictory{
  position: absolute;
  transform-origin: top center !important;
  background-color: rgb(190, 41, 0);
  border-radius: 100px;
  /* rotate:45deg; 
  left:; 
  z-index: 2; */
  width: 3%;
  height:100%;
  /* animation: win-animation 1s forwards ; */
}
@keyframes win-animation {

  0%{
  /* rotate:90deg;  */
    transform: scale(1, 0);
  }
  100%{
  /* rotate:190deg;  */
    transform: scale(1, 1);
  }
  
}
